#!/usr/bin/env xdg-open
[Desktop Entry]
Name=Clipboard Inspector
GenericName=Clipboard data inspector
Comment=Clipboard metadata inspector
Version=1.0
Exec=clipboardinspector
Icon=com.cuperino.clipboardinspector
Type=Application
Terminal=false
Categories=Development
Keywords=clipboard;inspector;copy;paste;
